* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
  }
  
  body {
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background: #126098;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .blog-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .post {
    background: white;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    margin-bottom: 0.5rem;
    color: #2c3e50;
  }
  
  .post .date {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 1rem;
  }
  
  .post a {
    display: inline-block;
    margin-top: 1rem;
    color: #3f51b5;
    text-decoration: none;
    font-weight: bold;
  }
  
  .post a:hover {
    text-decoration: underline;
  }
  
  footer {
    text-align: center;
    padding: 3rem;
    background: #126098;
    color: white;
    margin-top: 2rem;
  }

  .nav nav {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    width: 360px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 1000; /* เผื่อให้ลอยเหนือทุกอย่าง */
  }
  
  .nav nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
  }
  
  .nav nav a:hover {
    transition: 0.25s;
    background: rgba(56, 130, 209, 0.9);
    color: black;
  }
  